/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  background-color: aqua;
  min-width: 100vw;
}
.logo {
  color: rgb(2, 46, 46);
  font-size: x-large;
}

.navItem {
    text-decoration: none;
    margin-right: 25px;
    color: black;

} */
